<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>"Página Proyecto"</title>
  </head>
<body>  
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">EVALUACION PARCIAL I</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/#" class="nav-link active" aria-current="page">Inicio</a></li>
        <li class="nav-item"><a href="/Habilidades" class="nav-link">Habilidades</a></li>
        <li class="nav-item"><a href="/Datos" class="nav-link">Datos</a></li>
      </ul>
    </header>
  </div>
    <br>
    <div class="col col-md-4">
    <form action="/" method="post">
    <div class="login nombre">
    <label for="name">Introduce tu nombre:</label>
    <input type="text" id="name" name="name" size="10" />
   </div>
   <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
  <div class="row">
    <div class="col">
        {% block contenido %}
        {% endblock %}
    </div>
</div>
  </header>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<footer>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/#" class="nav-link px-2 link-secondary">Inicio</a></li>
    <li><a href="/Habilidades" class="nav-link px-2">Habilidades</a></li>
    <li><a href="/Datos" class="nav-link px-2">Datos</a></li>
  </ul>
  </footer>
</html>