{% extends 'base.html'%}

{% block contenido  %}
<p>
  Hola, yo soy Carlos Eduardo Bojórquez Ruiz, nací en Mérida, Yucatán, donde viví una parte de mi vida hasta irme a vivir a Zacatecas <br>
  donde estudié y viví la gran parte de mi vida, me encantan los videojuegos, el futbol y existir en general. <br>
  Actualmente resido en Mérida, Yucatán, volví para poder completar mis estudios académicos en el Tecnológico de Progreso, honestamente 
  me gustó mucho programar esta página, aunque se me dificultara debido a que solamente tengo conocimiento muy muy básicos de html
  pero con el tiempo seré mejor en esto! <br> 
</p>
<p>
  EVALUACIÓN PRIMER PARCIAL <br>
  Materia: Tópicos Avanzados de Programación <br>
  Nombre del Alumno: Carlos Eduardo Bojórquez Ruiz <br>
  Institución: Instituto Tecnológico Superior de Progreso <br>
  Curso: ISIC G1 Cuarto Semestre. <br>
  Nombre del Docente: Ligia Chuc <br>
  Fecha de Entrega: 29/02/2024 <br>
</p>
{% endblock%}