{% extends 'base.html'%}

{% block contenido %}
<p>
Entre mis habilidades blandas se encuentran: <br>
- Buena capacidad de comunicación. <br>
- Liderazgo. <br>
- Flexibilidad. <br>
- Resolución de problemas. <br>
Entre mis habilidades de forma profesional se encuentran: <br>
- Conocimiento de Java básico. <br>
- Conocimiento de C++ básico. <br>
Además de las anteriores habilidades, me encuentro desarrollando conocimiento en los siguientes lenguajes de programación: <br>
- Python <br>
- HTML <br>
- CSS <br>
- JavaScript <br>
</p>
{% endblock %}